In [20]:
import pandas as pd
import numpy as np

In [8]:
fn= "hypoxiaDataset.complete.csv"

In [9]:
data= pd.read_csv(fn, sep=",", header=0)

In [10]:
data.head()

,Id,norm.5.0-O2-n1,norm.5.0-O2-n2,norm.0.1-O2-n1,norm.0.1-O2-n2,norm.0.5-O2-n1,norm.0.5-O2-n2,norm.1.0-O2-n1,norm.1.0-O2-n2,5-O2,0.1-O2,0.5-O2,1-O2,pvalue,padj
0,gene0_Xkr4,0,0,0,0,1,1,0,0,0,0,1,0,1.000000,NaN
1,gene1_Gm18956,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
2,gene100_Sulf1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
3,gene1000_Rhbdd1,4847,5299,4505,4850,4587,5854,4445,4579,5073,4678,5220,4512,0.451766,0.726399
4,gene10000_Ermap,6,0,2,0,2,0,0,2,3,1,1,1,0.566416,NaN

In [13]:
data[["Id", "Gene_Symbol"]] = data["Id"].str.split("_", 1, expand=True)

In [33]:
data = data.set_index("Gene_Symbol")

In [34]:
data.head()

,Id,norm.5.0-O2-n1,norm.5.0-O2-n2,norm.0.1-O2-n1,norm.0.1-O2-n2,norm.0.5-O2-n1,norm.0.5-O2-n2,norm.1.0-O2-n1,norm.1.0-O2-n2,5-O2,0.1-O2,0.5-O2,1-O2,pvalue,padj,FC,log2FC
Gene_Symbol,,,,,,,,,,,,,,,,,
Xkr4,gene0,0,0,0,0,1,1,0,0,0,0,1,0,1.000000,NaN,NaN,NaN
Gm18956,gene1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
Sulf1,gene100,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
Rhbdd1,gene1000,4847,5299,4505,4850,4587,5854,4445,4579,5073,4678,5220,4512,0.451766,0.726399,0.922137,-0.116947
Ermap,gene10000,6,0,2,0,2,0,0,2,3,1,1,1,0.566416,NaN,0.333333,-1.584963

In [35]:
data["FC"] = data["0.1-O2"] / data["5-O2"]

In [36]:
data["log2FC"]= np.log2(data["FC"])

In [37]:
data.head()

,Id,norm.5.0-O2-n1,norm.5.0-O2-n2,norm.0.1-O2-n1,norm.0.1-O2-n2,norm.0.5-O2-n1,norm.0.5-O2-n2,norm.1.0-O2-n1,norm.1.0-O2-n2,5-O2,0.1-O2,0.5-O2,1-O2,pvalue,padj,FC,log2FC
Gene_Symbol,,,,,,,,,,,,,,,,,
Xkr4,gene0,0,0,0,0,1,1,0,0,0,0,1,0,1.000000,NaN,NaN,NaN
Gm18956,gene1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
Sulf1,gene100,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
Rhbdd1,gene1000,4847,5299,4505,4850,4587,5854,4445,4579,5073,4678,5220,4512,0.451766,0.726399,0.922137,-0.116947
Ermap,gene10000,6,0,2,0,2,0,0,2,3,1,1,1,0.566416,NaN,0.333333,-1.584963

In [39]:
data2 = data.loc[(abs(data["log2FC"]) >= 1) & (abs(data["padj"]) < 0.05)]

In [40]:
data2.head()

,Id,norm.5.0-O2-n1,norm.5.0-O2-n2,norm.0.1-O2-n1,norm.0.1-O2-n2,norm.0.5-O2-n1,norm.0.5-O2-n2,norm.1.0-O2-n1,norm.1.0-O2-n2,5-O2,0.1-O2,0.5-O2,1-O2,pvalue,padj,FC,log2FC
Gene_Symbol,,,,,,,,,,,,,,,,,
Fhl3,gene10125,485,379,1235,1582,1327,819,420,637,432,1408,1073,528,1.850043e-10,4.361187e-08,3.259259,1.704544
A3galt2,gene10226,75,16,0,2,5,3,42,13,46,1,4,28,5.915570e-04,1.183663e-02,0.021739,-5.523562
C77080,gene10242,2177,1840,621,881,1095,1434,1211,2144,2008,751,1264,1678,5.386840e-08,5.975827e-06,0.374004,-1.418874
Zbtb8a,gene10247,52,62,15,14,28,24,33,32,57,14,26,32,1.592631e-03,2.358000e-02,0.245614,-2.025535
Tinagl1,gene10285,4808,3619,17673,23864,23859,14605,7335,7516,4214,20768,19232,7426,1.649419e-24,2.262253e-21,4.928334,2.301100

In [43]:
data3 = data2.loc[:,["norm.5.0-O2-n1", "norm.5.0-O2-n2","norm.0.1-O2-n1","norm.0.1-O2-n2", "norm.0.5-O2-n1",
                    "norm.0.5-O2-n2", "norm.1.0-O2-n1","norm.1.0-O2-n2" ]]

In [44]:
data3.head()

,norm.5.0-O2-n1,norm.5.0-O2-n2,norm.0.1-O2-n1,norm.0.1-O2-n2,norm.0.5-O2-n1,norm.0.5-O2-n2,norm.1.0-O2-n1,norm.1.0-O2-n2
Gene_Symbol,,,,,,,,
Fhl3,485,379,1235,1582,1327,819,420,637
A3galt2,75,16,0,2,5,3,42,13
C77080,2177,1840,621,881,1095,1434,1211,2144
Zbtb8a,52,62,15,14,28,24,33,32
Tinagl1,4808,3619,17673,23864,23859,14605,7335,7516

In [46]:
data3.to_csv("task1.4.csv")